numpy==1.22.3
pandas==1.4.2
matplotlib==3.5.1
scikit-learn>=1.0.2
flask==2.1.1
gunicorn==20.1.0
scipy==1.8.0
itsdangerous>=1.1.0
Jinja2>=2.10.1
MarkupSafe>=1.1.1
Werkzeug>=0.16.0
nltk>=3.4.5
gunicorn
