<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title text-align: center>Fraud Transaction Detection Ineuron Internship</title>
</head>
<body bgcolor="#B1D7B4">
        <div class="login">
                <h1> Fraud Transaction Detection Ineuron Internship </h1><br>
        
                <form method="POST", action="{{url_for('home')}}">
                    <div >
                        time :  <input type="number" name='Time' placeholder="Enter the time in seconds">
                    </div>
                   <div >
                    Second value :  <input type="number", name='val1' placeholder="enter 2">
                   </div>
                   <div >
                    Third value :  <input type="number", name='val2' placeholder="enter 3">
                    </div>
                    <div >
                        Fourth value : <input type="number", name='val3' placeholder="enter 4">
                    </div>
                    <div >
                        Fifth value : <input type="number", name="val4" placeholder="enter 5">
                    </div>
                    <div >
                        Sixth value : <input type="number", name="val5" placeholder="enter 6">
                    </div>
                    <div >
                        Seventh value : <input type="number", name="val6" placeholder="enter 7">
                    </div>
                    <div >
                        Eighth value : <input type="number", name="val7" placeholder="enter 8">
                    </div>
                    <div >
                        Ninth value : <input type="number", name="val8" placeholder="enter 9">
                    </div>
                    <div >
                        Tenth value : <input type="number", name="val9" placeholder="enter 10">
                    </div>
                    <div >
                        Eleventh value : <input type="number", name="val10" placeholder="enter 11">
                    </div>
                    <div >
                        Twelfth value : <input type="number", name="val11" placeholder="enter 12">
                    </div>
                    <div >
                        Thirteen value : <input type="number", name="val12" placeholder="enter 13">
                    </div>
                    <div >
                        Fourteenth value : <input type="number", name="val13" placeholder="enter 14">
                    </div>
                    <div >
                        Fifteenth value : <input type="number", name="val14" placeholder="enter 15">
                    </div>
                    <div >

                        Sixteenth value : <input type="number", name="val15" placeholder="enter 16">
                    </div>
                    <div >
                        Seventeen value : <input type="number", name="val16" placeholder="enter 17">
                    </div>
                    <div >
                        Eighteenth value : <input type="number", name="val17" placeholder="enter 18">
                    </div>
                    <div >
                        Nineteenth value : <input type="number", name="val18" placeholder="enter 19">
                    </div>
                    <div >
                        Twentyth value : <input type="number", name="val19" placeholder="enter 20">
                    </div>
                    <div >
                        Twentyoneth value : <input type="number", name="val20" placeholder="enter 21">
                    </div>
                    <div >
                        Twentytwoth value : <input type="number", name="val21" placeholder="enter 22">
                    </div>
                    <div >
                        Twentythird value : <input type="number", name="val22" placeholder="enter 23">
                    </div>
                    <div >
                        Twentyfourth value : <input type="number", name="val23" placeholder="enter 24">
                    </div>
                    <div >
                        Twentyfifth value : <input type="number", name="val24" placeholder="enter 25">
                    </div>
                    <div >
                        Twentysixth value : <input type="number", name="val25" placeholder="enter 26">
                    </div>
                    <div >
                        Twentyseventh value : <input type="number", name="val26" placeholder="enter 27">
                    </div>
                    <div >
                        Twentyeighth value : <input type="number", name="val27" placeholder="enter 28">
                    </div>
                    <div >
                        Twentynineth value : <input type="number", name="val28" placeholder="enter 29">
                    </div>
                    <center>
                    <div >
                        Amount : <input type="number", name="Amount" placeholder="enter Amount">
                    </div>
                    </center>
                    <center>
                        <div >
                            <button class="btn btn-primary" type="submit" value="Predict">Predict</button>
                        </div>
                    </center>
                    
                </form>
        
        </div>

</body>
</html>